section{
	height: 100vh;
	color:#000;
}
.wrapper{
	position:relative;
	overflow-x: hidden;
}
.main{
	background-color: #27ae60;
	background-image: url(https://storge.pic2.me/c/1360x800/373/59c130268dda0.jpg);
	background-size: cover;
}
#main{
	text-align: center;
	padding-top: 50vh;
}
.news{
		background-color: #9b59b6;
	}
#news{
	text-align: center;
	padding-top: 50vh;
}
.contacts{
	background-color: #3498b6;
}
#contacts{
	text-align: center;
	padding-top: 50vh;
}
.portfolio{
	background-color: #f1c40f;
}
#portfolio{
	text-align: center;
	padding-top: 50vh;
}
.menu{
	position:fixed;
	top:0;
	width: 100%;
	height: 40px;
	background-color: #fff;
}
.menu-list{
	display: block;
	text-align: center;
	padding-top: 10px;
	text-transform: uppercase;
}
.menu .menu-list a{
	text-decoration: none;
	font-weight: 800;
	padding:0px 8px ;
}
.menu .menu-list a:hover{
	background-color: orange;
}

